<div class="news">
  <h4>新着情報</h4>
  {% if site.news_jp  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.news_jp | reverse %}
      {% for item in news limit: site.news_limit %}
        <tr>
          <th scope="row">{{ item.date | date: "%Y/%m/%d" }} &nbsp;&nbsp; &nbsp;&nbsp;</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
      <a href="{{ '/news_jp/' | relative_url }}">以前のニュース</a>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
