---
---

<!-- this is bib format for cv --> 

<div class="row">
  <div id="{{entry.key}}" class="col-sm-12">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title">{{entry.title}}</div>
      <div class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}

          {% assign name_last_first = false %}
          {% if entry.lang == "jp" %}
            {% assign name_last_first = true %}
          {% endif %}

          {% if entry.engname %}
            {% assign name_last_first = false %}
          {% endif %}

          {% if author.last == site.scholar.last_name_jp %}
            {% if author.first == site.scholar.first_name_jp %}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}

          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em>{{author.first}} {{author.last}}</em>
            {% else %}
              {% if name_last_first %}
                {{author.last}} {{author.first}}
              {% else %}
                {{author.first}} {{author.last}}
              {% endif %}
            {% endif %}

          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
              <!--<em>{{author.last}}, {{author.first}}</em>,-->
                {% if name_last_first %}
                  <em>{{author.last}} {{author.first}}</em>,
                {% else %}
                  <em>{{author.first}} {{author.last}}</em>,
                {% endif %}

              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {% if name_last_first %}
                    {{author.last}} {{author.first}},
                  {% else %}
                    {{author.first}} {{author.last}},
                  {% endif %}


                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                {% if name_last_first %}
                  <em>{{author.last}} {{author.first}}</em>
                {% else %}
                  and <em>{{author.first}} {{author.last}}</em>
                {% endif %}
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
                {% else %}
                  {% if name_last_first %}
                    {{author.last}} {{author.first}}
                  {% else %}
                    and {{author.first}} {{author.last}}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
      <!--<em>In {{entry.booktitle}}</em>-->
        <em>{{entry.booktitle}}</em>
      {% endif %}

      {% if entry.lang == "jp" %}
        {% if entry.year %}
          {{entry.year}}年
        {% endif %}
        {% if entry.month %}
          {{entry.month}}月
        {% endif %}
      {% else %}
        {% if entry.month %}
          {{entry.month | capitalize}}
        {% endif %}
        {% if entry.year %}
          {{entry.year}}
        {% endif %}
      {% endif %}

      </div>

      <div class="award">
      {% if entry.award %}
      :trophy: <a href="{{ entry.awardurl }}">{{ entry.award }} </a>
      {% endif %}
      </div>


    {% endif %}

  </div>
</div>
